In [1]:
import pandas as pd;

df = pd.read_csv("ufoData.csv")
df

,date,city,state,country,shape,duration,comments,lat,lng
0,10/10/1949 20:30,san marcos,tx,us,cylinder,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1960 20:00,kaneohe,hi,us,light,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611
2,10/10/1961 19:00,bristol,tn,us,sphere,5 minutes,My father is now 89 my brother 52 the girl wit...,36.595000,-82.188889
3,10/10/1965 23:45,norwalk,ct,us,disk,20 minutes,A bright orange color changing to reddish colo...,41.117500,-73.408333
4,10/10/1966 20:00,pell city,al,us,disk,3 minutes,Strobe Lighted disk shape object observed clos...,33.586111,-86.286111
...,...,...,...,...,...,...,...,...,...
66510,9/9/2013 21:15,nashville,tn,us,light,10 minutes,Round from the distance/slowly changing colors...,36.165833,-86.784444
66511,9/9/2013 22:00,boise,id,us,circle,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,43.613611,-116.202500
66512,9/9/2013 22:00,napa,ca,us,other,hour,Napa UFO&#44,38.297222,-122.284444
66513,9/9/2013 22:20,vienna,va,us,circle,5 seconds,Saw a five gold lit cicular craft moving fastl...,38.901111,-77.265556
66514,9/9/2013 23:00,edmond,ok,us,cigar,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,35.652778,-97.477778

In [11]:
us_df = df[df['country'] == 'us']
us168_df = us_df.sort_values('date').reset_index(drop=True).head(168)
us1680_df = us_df.sort_values('date').reset_index(drop=True).head(1680)

In [16]:
us168_df.to_csv('us168ufoData.csv', index=False, header=True)

In [17]:
us168_df

,date,city,state,country,shape,duration,comments,lat,lng
0,1/1/1944 12:00,san diego,ca,us,cigar,3 minutes,A sighting of one silver or white enlongated c...,32.715278,-117.156389
1,1/1/1956 5:30,weirton,wv,us,disk,10 seconds,My Uncle Sam was driving to work very early on...,40.418889,-80.589722
2,1/1/1957 21:00,dallas,tx,us,unknown,20 seconds,I was flying the first of 4 USAF aircraft on a...,32.783333,-96.800000
3,1/1/1958 22:00,pep,tx,us,fireball,2sec,Green fire balls&#44 Texas Panhandle&#44 late ...,33.816111,-102.557778
4,1/1/1961 12:00,santa clara,ca,us,circle,3 hours,Stationary circular object 12 oclock high.,37.354167,-121.954167
...,...,...,...,...,...,...,...,...,...
163,1/1/2007 16:30,miami lakes,fl,us,changing,20 minutes,strange objects on new year&#39s day&#44 2007 ...,25.908333,-80.308889
164,1/1/2007 18:08,eagle pass,tx,us,circle,15 minutes,Dark circular object seen over a deserted ranc...,28.708889,-100.499167
165,1/1/2007 19:00,chicago,il,us,light,approx. 1 hr. or so,Ball of changing light colors,41.850000,-87.650000
166,1/1/2007 19:00,magnolia,ar,us,unknown,5 minutes,Unidentified aircraft playing tag in the night...,33.266944,-93.239167
167,1/1/2007 19:30,salem,or,us,unknown,15-20 seconds,Lights moving from south to north&#44 low to g...,44.943056,-123.033889

In [21]:
us168LLD_df = us168_df[['lng','lat','date']]
us168LLD_df

            lng        lat            date
0   -117.156389  32.715278  1/1/1944 12:00
1    -80.589722  40.418889   1/1/1956 5:30
2    -96.800000  32.783333  1/1/1957 21:00
3   -102.557778  33.816111  1/1/1958 22:00
4   -121.954167  37.354167  1/1/1961 12:00
..          ...        ...             ...
163  -80.308889  25.908333  1/1/2007 16:30
164 -100.499167  28.708889  1/1/2007 18:08
165  -87.650000  41.850000  1/1/2007 19:00
166  -93.239167  33.266944  1/1/2007 19:00
167 -123.033889  44.943056  1/1/2007 19:30

[168 rows x 3 columns]

In [22]:
us168LLD_df.to_csv('us168ufoDataLLD.csv', index=False, header=True)